<form [formGroup]="createPokemonForm">

  <div>
    
    <input  formControlName='picture' placeholder="insert a picture" autofocus>
    
    <small *ngIf="createPokemonForm.get('picture').errors?.required"> Picture is required </small>

  </div>

  <div>
  
    <input formControlName='name' placeholder="insert pokemon name">
    
    <small *ngIf="createPokemonForm.get('name').errors?.required"> Name is required </small>

    <small *ngIf="createPokemonForm.get('name').errors?.nameAlreadyExist"> THIS POKEMON ALREADY EXIST </small>
    <small *ngIf="createPokemonForm.get('name').valid"> OK </small>

  </div>

  <div #typesPokemons class='types-pokemons'>
    
    <input  formControlName='types' class="types-pokemon" placeholder="insert pokemon types">

    <small *ngIf="createPokemonForm.get('types').errors?.required"> Types is required </small>
  
  </div>
  <button (click)='addNewInputTypes()'> + </button>
  

  <div #weaknessesPokemons class='weaknesses-pokemons'>
    
    <input  formControlName='weaknesses' class="weaknesses-pokemon" placeholder="insert pokemon weaknesses">

    <small *ngIf="createPokemonForm.get('weaknesses').errors?.required"> Weaknesses is required </small>
  
  </div>
  <button (click)='addNewInputWeaknesses()'> + </button>
  
  <button (click)='createPokemon()'>Create</button>
  
</form>