<section>

  <form [formGroup]="createPokemonForm">
    
    <div>
  
      <small *ngIf="createPokemonForm.get('picture').errors?.required"> Picture is required </small>

      <div class="form">
        
        <input formControlName='picture' autofocus type="text" name="picture" autocomplete="off" required />
        <label class="label-input" for="picture">
          <span class="content-input"> Picture url </span>
        </label>
        
      </div>
      
    </div>
  
    <div>
    
      <small *ngIf="createPokemonForm.get('name').errors?.required"> Name is required </small>

      <small *ngIf="createPokemonForm.get('name').errors?.nameAlreadyExist"> This pokemon already exist </small>
      <small *ngIf="createPokemonForm.get('name').valid"> Ok </small>

      <div class="form">
        
        <input formControlName='name' type="text" name="name" autocomplete="off" required />
        <label class="label-input" for="name">
          <span class="content-input"> Name </span>
        </label>
          
      </div>
      
    </div>
  
    <div #typesPokemons class='types-pokemons'>
      
      <small *ngIf="createPokemonForm.get('types').errors?.required"> Types is required </small>
      
      <small *ngIf="createPokemonForm.get('types').errors?.typeNotExist"> This type not exist </small>
      <small *ngIf="createPokemonForm.get('types').valid"> Ok </small>

      <div class="form">
        
        <input formControlName='types' class="types-pokemon" type="text" name="types" autocomplete="off" required />
        <label class="label-input" for="types">
          <span class="content-input"> Types </span>
        </label>
            
      </div>
      
      <button (click)='addNewInputTypes()'> + </button>
      
      <ul #addedTypes class="ul-types-pokemon"></ul>
      
    </div>
    
    <div #weaknessesPokemons class='weaknesses-pokemons'>
      
      <small *ngIf="createPokemonForm.get('weaknesses').errors?.required"> Weaknesses is required </small>

      <small *ngIf="createPokemonForm.get('weaknesses').errors?.typeNotExist"> This weaknesses not exist </small>
      <small *ngIf="createPokemonForm.get('weaknesses').valid"> Ok </small>

      <div class="form">
        
        <input formControlName='weaknesses' class="weaknesses-pokemon" type="text" name="weaknesses" autocomplete="off" required />
        <label class="label-input" for="weaknesses">
          <span class="content-input"> Weaknesses </span>
        </label>
            
      </div>

      <button [disabled]="createPokemonForm.get('weaknesses').errors?.typeNotExist" (click)='addNewInputWeaknesses()'> + </button>

      <ul #addedWeaknesses class="ul-weaknesses-pokemon"></ul>
  
    </div>

    <button [disabled]="createPokemonForm.invalid" (click)='createPokemon()'> Create </button>
    
    <a [routerLink]="['']"> ( Home ) </a>
    
  </form>

</section>