<h1>Login</h1>

<form [formGroup]="loginForm" (submit)="login()">

  <div>

    <small *ngIf="loginForm.get('userName').errors?.required"> UserName is required </small>

    <input formControlName="userName" type="text" placeholder="UserName" autofocus>

  </div>

  <div>

    <small *ngIf="loginForm.get('password').errors?.required"> Password is required </small>

    <input formControlName="password" type="text" placeholder="Password">

  </div>

  <button [disabled]="loginForm.invalid" type="submit">Login</button>

</form>