<form [formGroup]="loginForm" (submit)="login()">

  <div>

    <small *ngIf="loginForm.get('email').errors?.required"> E-mail is required </small>

    <div class="form">

      <input #emailInput formControlName="email" type="text" autocomplete="off" autofocus required />
      <label class="label-input" for="email">
        <span class="content-input"> E-mail </span>
      </label>

    </div>

  </div>

  <div>

    <small *ngIf="loginForm.get('password').errors?.required"> Password is required </small>

    <div class="form">
    
      <input #passwordInput formControlName="password" type="text" autocomplete="off" required />
      <label class="label-input" for="password">
        <span class="content-input"> Password </span>
      </label>

    </div>

  </div>

  <div>

    <button [disabled]="loginForm.invalid" type="submit">Login</button>
  
    <a [routerLink]="['']"> ( Home ) </a>

  </div>

</form>