/* You can add global styles to this file, and also import other style files */
@import url('https://www.dafont.com/pt/press-start-2p.font');

body{
  margin: 0;
  padding: 0;
  
  background-color: #eb4d4b;
  font-family: 'Press Start 2P', cursive;
  color: white;
}